<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>

<body>

    <div class="">
        <header>
            <div class="">
                <a href="">Welcome {{username}}</a>
                <nav class="menu">
                    <ul class=" flex : px-3 : justify-end : mx-11">
                        <li class="px-5 py-5"><a href="" class="font-semibold : text-xl">Home</a></li>
                        <li class="px-5 py-5"><a href="work" class="font-semibold : text-xl">Works</a></li>
                        <li class="px-5 py-5"><a href="blog" class="font-semibold : text-xl">Blog</a></li>
                        <li class="px-5 py-5"><a href="" class="font-semibold : text-xl">Contact</a></li>
                        <li class="px-5 py-5"><a href="signin" class="font-semibold : text-xl">Signin</a></li>
                        <li class="px-5 py-5"><a href="signup" class="font-semibold : text-xl">Signup</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <section class="content pt-5">
            <div class="grid grid-cols-6 flex self-center">
                <div class="col-span-3 ml-24 mr-24  pt-12  ">
                    <div class="mb-7"><b class="text-3xl ">Hi, I am John, <br>
                            Creative Technologist</b></div>
                    <div>
                        <span class="text-xl italic">We're Soocial, a leading branding agency with a passion for 
                            creating memorable names and internationally-renowned brands. Since our launch,
                             we’ve worked on more than 1,000 projects for clients around the world. 
                             We’re big enough to handle massive projects, 
                            and yet also nimble enough to come up with names on demand that hit every time.</span>
                    </div>
                    <br>
                    <a href="">
                        <button class=" bg-red-400 py-1 px-1 mb-7 text-white">Download Resume</button>
                    </a>
                </div>
                <div class="col-span-3 grid ">
                    <img src="https://img.i-scmp.com/cdn-cgi/image/fit=contain,width=425,format=auto/sites/default/files/styles/768x768/public/d8/images/canvas/2021/12/03/3548e37e-02be-4563-86fd-eeb922c43d0e_94f7993f.jpg?itok=r0PvVNX8&v=1638518235" alt="" class="ml-[40%] w-[30%]" style=" border-radius: 50%; ">

                </div>

            </div>

        </section>
     <section class="mt-20 " style="background-color: rgb(247, 253, 253);">
            <div class="topnav">
                <div class="topnav-left" style=" float: left; margin-top: 20px;    margin-left: 140px;">
                  <a href="">Recent post</a>
                </div> <div class="topnav-right" style=" float: right; margin-top: 20px;    margin-right: 140px;">
                    <a href="">View all</a>
                  </div>
                <div class="grid grid-cols-2 gap-8 p-20">
                    <div class="row" style=" background-color: rgb(255, 255, 255); padding: 30px;">
                        <h3 class="font-bold : text-xl"> Making a desgin systemform <br>
                            scratch</h3>
                            <nav class="mt-3">
                                <span id="h"></span>
                                <ul class="flex mt-4">
                                    <li class="mr-4">12 Feb 2020</li> |
                                    <li class="ml-4">Design, Pattern</li>
                                </ul>
                               <div>
                                <p class="text-lg">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                                    Velit officia consequat duis enim velit mollit. 
                                    Exercitation veniam consequat sunt nostrud amet.</p>
                               </div>
                            </nav>
                    </div>
                    <div class="row" style="background-color: rgb(255, 255, 255);padding: 30px;">
                        <h3 class="font-bold : text-xl"> Making a desgin systemform <br>
                            scratch</h3>
                            <nav class="mt-3">
                                <span id="h"></span>
                                <ul class="flex mt-4">
                                    <li class="mr-4">12 Feb 2020</li> |
                                    <li class="ml-4">Design, Pattern</li>
                                </ul>
                               <div>
                                <p class="text-lg">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                                    Velit officia consequat duis enim velit mollit. 
                                    Exercitation veniam consequat sunt nostrud amet.</p>
                               </div>
                            </nav>
                    </div>
                </div>
            </div>
        </section> 
        <article>
            <div class="mt-10 ml-24 mr-24">
                <nz-table #basicRow [nzData]="data">
                    <article class="px-44 : ">
                      <div class="mt-3 :  ">
                        <h1 style="margin-top:  20px; font-size: 23px; ">Featured works</h1>
                        <div *ngFor="let data of basicRow.data ;" class=" grid grid-cols-3 : mt-5">
                          <div>
                            <a routerLink="/product/{{data.id}}">
                              <img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRYNFbCHlgpdXu8zyDxft8HoUXyhpF_mtZE6Q&usqp=CAU"
                                alt="" width="270"
                                style="border-radius: 10px ;  box-shadow: 0 4px 8px 0 rgba(51, 51, 51, 0.2), 0 6px 20px 0 rgba(68, 67, 67, 0.19);">
                            </a>
            
                          </div>
                          <div class="ml-8 :  col-span-2">
                            <h1 class="font-bold : text-xl :" style="font-size: 28px; color: #21243D;"> {{data.name}}</h1>
                            <nav class="flex : mt-3">
                              <button class="border p-2 bg-red-500 text-white "
                                style="border-radius: 40px ; padding: 0 10px;">2020</button>
                              <h2 style="margin-left: 20px ; margin-top: 10px;">{{data.price}}</h2>
                            </nav>
                            <div class="mt-4">
                              <p class="text-lg">
                                {{data.subject}}
                              </p>
                            </div>
                          </div>
                          <div class="mt-5">
                            <hr width="300%">
                          </div>
                        </div>
                      </div>
                      <br>
                    </article>
                  </nz-table>
                <!-- <h1 class="" style="">Featured works</h1>
                <div class="flex" style="padding-top:10px;">
                    <div>
                      <img src="http://127.0.0.1:5500/img/Rectangle%2030.jpg" alt="">
                    </div>
                    <div class="ml-8">
                        <h2 class="font-bold text-lg">Designing Dashboards</h2>
                        <nav class="flex my-3">
                            <button class="border p-2 bg-red-500 text-white mr-4 "
                                style="border-radius: 40px ; padding: 0 10px; ">2020</button>
                            <h2>Dashboard</h2>
                        </nav>
                        <div>
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <br>
                                Velit officia consequat duis enim velit mollit. <br>
                                Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <hr width="100%">
                </div>
                <div class="flex" style="padding-top:15px ;">
                    <div>
                      <img src="http://127.0.0.1:5500/img/Rectangle%2032.jpg" alt="">
                    </div>
                    <div class="ml-8">
                        <h2 class="font-bold text-lg">Vibrant Portraits of 2020</h2>
                        <nav class="flex my-3">
                            <button class="border p-2 bg-red-500 text-white mr-4 "
                                style="border-radius: 40px ; padding: 0 10px; ">2020</button>
                            <h2>Dashboard</h2>
                        </nav>
                        <div>
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <br>
                                Velit officia consequat duis enim velit mollit. <br>
                                Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <hr width="100%">
                </div>
                <div class="flex" style="padding-top:15px ;">
                    <div>
                        <img src="http://127.0.0.1:5500/img/Rectangle%2030.jpg" alt="">
                    </div>
                    <div class="ml-8">
                        <h2 class="font-bold text-lg"> 36 Days of Malayalam type</h2>
                        <nav class="flex my-3">
                            <button class="border p-2 bg-red-500 text-white mr-4 "
                                style="border-radius: 40px ; padding: 0 10px; ">2020</button>
                            <h2>Dashboard</h2>
                        </nav>
                        <div>
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <br>
                                Velit officia consequat duis enim velit mollit. <br>
                                Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <hr width="100%">
                </div> -->
            </div>

        </article>
        <footer class="text-center my-12">
            <img class="w-6 inline-block mx-4" src="./img/fb.png" alt="">
            <img class="w-6 inline-block mx-4" src="./img/Linkedin.png" alt="">
            <img class="w-6 inline-block mx-4" src="./img/insta.png" alt="">
            <img class="w-6 inline-block mx-4" src="./img/Group.png" alt="">
            <div class="text-center my-5">Copyright ©2020 All rights reserved</div>



        </footer>
    </div>
</body>

</html>