
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    @media (max-width : 1040px) {
        .row {
            display: block;
        }

    }

    @media (max-width : 1024px) and (min-width : 640px) {
        .row {
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 10px;
        }

    }
</style>

<body>

    <div class="container  : font-sans">
        <header>
            <div class="">
                <nav class="menu">
                    <ul class=" menu : flex : px-28 : justify-end : mx-11 " style=" color: #21243D;">
                        <li class="px-5 py-5"><a href="home.html"
                                class="font-semibold : text-xl : hover:text-red-500 ">Home</a></li>
                        <li class="px-5 py-5"><a href="Word.html"
                                class="font-semibold : text-xl : hover:text-red-500 ">Works</a>
                        </li>
                        <li class="px-5 py-5"><a href="" class="font-semibold : text-xl : hover:text-red-500">Blog</a>
                        </li>
                        <li class="px-5 py-5"><a href=""
                                class="font-semibold : text-xl : hover:text-red-500">Contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <article class="px-44">
            <div class="mt-5" style="padding-right: 10rem ;">
                <h1 style="margin-top: 20px; font-size: 23px; ">Featured works</h1>
                <div class="flex : mt-5">

                    <div class="ml-8">
                        <h1 class="font-bold : text-xl :" style="font-size: 28px; color: #21243D;">36 Days of Malayatham
                            Type</h1>
                        <nav class="flex : mt-5">
                            <button class="border p-2 bg-red-500 text-white "
                                style="border-radius: 40px ; padding: 0 10px;">2020</button>
                            <h2 style="margin-left: 20px ;">Dashboard</h2>
                        </nav>
                        <div class="mt-5">
                            <p style="font-size: 17px;">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <hr width="100%" />
                </div>
                <br>
                <div class="flex : mt-5">

                    <div class="ml-8">
                        <h1 class="font-bold : text-xl :" style="font-size: 28px; color: #21243D;">36 Days of Malayatham
                            Type</h1>
                        <nav class="flex : mt-5">
                            <button class="border p-2 bg-red-500 text-white "
                                style="border-radius: 40px ; padding: 0 10px;">2020</button>
                            <h2 style="margin-left: 20px ;">Dashboard</h2>
                        </nav>
                        <div class="mt-5">
                            <p style="font-size: 17px;">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <hr width="100%" />
                </div>
                <br>
                <div class="flex : mt-5">

                    <div class="ml-8">
                        <h1 class="font-bold : text-xl :" style="font-size: 28px; color: #21243D;">36 Days of Malayatham
                            Type</h1>
                        <nav class="flex : mt-5">
                            <button class="border p-2 bg-red-500 text-white "
                                style="border-radius: 40px ; padding: 0 10px;">2020</button>
                            <h2 style="margin-left: 20px ;">Dashboard</h2>
                        </nav>
                        <div class="mt-5">
                            <p style="font-size: 17px;">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <hr width="100%" />
                </div>
                <br>
                <div class="flex : mt-5">

                    <div class="ml-8">
                        <h1 class="font-bold : text-xl :" style="font-size: 28px; color: #21243D;">36 Days of Malayatham
                            Type</h1>
                        <nav class="flex : mt-5">
                            <button class="border p-2 bg-red-500 text-white "
                                style="border-radius: 40px ; padding: 0 10px;">2020</button>
                            <h2 style="margin-left: 20px ;">Dashboard</h2>
                        </nav>
                        <div class="mt-5">
                            <p style="font-size: 17px;">
                                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia
                                consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
                            </p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <hr width="100%" />
                </div>
            </div>
            <br>
        </article>

        <footer>
            <div>
                <img src="Footer.png" alt="">
            </div>
        </footer>

    </div>
</body>

</html>