<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Document</title>
</head>
<style>
    @media (max-width : 640px) {
        .row {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width : 1200px) and (min-width:340px) {
        .row {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            padding-left: 0rem;
            padding-right: 0rem;
            display: flex;
            flex-direction: column-reverse;
        }
    }
</style>
<body>
    <div class="container : w-9/12 m-auto : font-sans">
        <header>
            <div class="">
                <nav class="menu">
                  <ul class=" flex : px-3 : justify-end : mx-11">
                    <li class="px-5 py-5"><a href="" class="font-semibold : text-xl">Blog</a></li>
                    <li class="px-5 py-5"><a href="" class="font-semibold : text-xl">Works</a></li>
                    <li class="px-5 py-5"><a href="" class="font-semibold : text-xl">Contact</a></li>
                  </ul>
                </nav>
              </div>
        </header>
        <article>
            <div class="mt-10">
                <h1 class="font-bold text-lg">Works</h1>
                <div class="flex" style="padding-top:10px;">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkH-EnTtKwXCgP6lUsuC59gzDLoN75od20uI4MhQiXu2ob9SAzMdJR9-8Bnl0sJo8S1Fo&usqp=CAU" alt="">
                    </div>
                    <div class="ml-8">
                        <h2 class="font-bold text-lg">Designing Dashboards</h2>
                        <nav class="flex my-3">
                                <button class="border p-2  text-white "
                                  style="border-radius: 40px ; padding: 0 10px; background-color:#142850;">2020</button>
                                  <h2 class="ml-4">Dashboard</h2> 
                        </nav>
                        <div>
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <br>
                                Velit officia consequat duis enim velit mollit. <br>
                                Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <hr width="100%">
                </div>
                <div class="flex" style="padding-top:26px ;">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTkH-EnTtKwXCgP6lUsuC59gzDLoN75od20uI4MhQiXu2ob9SAzMdJR9-8Bnl0sJo8S1Fo&usqp=CAU" alt="">
                    </div>
                    <div class="ml-8">
                        <h2 class="font-bold text-lg">Vibrant Portraits of 2020</h2>
                        <nav class="flex my-3">
                                <button class="border p-2  text-white "
                                  style="border-radius: 40px ; padding: 0 10px; background-color:#142850">2020</button>
                                  <h2 class="ml-4">Illustration</h2> 
                        </nav>
                        <div>
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <br>
                                Velit officia consequat duis enim velit mollit. <br>
                                Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <hr width="100%">
                </div>
                <div class="flex" style="padding-top:26px ;">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTN339QdLzTgdtTF7tpFjiuyd2-I3hHGxON07X7LTPK8pzkKVBbS7kJoNDObnb26caAIvM&usqp=CAU" alt="">
                    </div>
                    <div class="ml-8">
                        <h2 class="font-bold text-lg"> 36 Days of Malayalam type</h2>
                        <nav class="flex my-3">
                                <button class="border p-2  text-white "
                                  style="border-radius: 40px ; padding: 0 10px; background-color:#142850 ;">2020</button>
                                <h2 class="ml-4">Typography</h2> 
                        </nav>
                        <div>
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <br>
                                Velit officia consequat duis enim velit mollit. <br>
                                Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <hr width="100%">
                </div>
                <div class="flex" style="padding-top:26px ;">
                    <div>
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP1cxsgNh7DCFb2hDzMcnGYFRlP0ojK3_eHT_qv5TfFrfh0nZt13bIyVA6INFqG9aIms4&usqp=CAU" alt="">
                    </div>
                    <div class="ml-8">
                        <h2 class="font-bold text-lg"> 36 Days of Malayalam type</h2>
                        <nav class="flex my-3">
                                <button class="border p-2  text-white "
                                  style="border-radius: 40px ; padding: 0 10px; background-color:#142850 ;">2020</button>
                                <h2 class="ml-4">Typography</h2> 
                        </nav>
                        <div>
                            <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. <br>
                                Velit officia consequat duis enim velit mollit. <br>
                                Exercitation veniam consequat sunt nostrud amet.</p>
                        </div>
                    </div>
                </div>
                <br>
                <div>
                    <hr width="100%">
                </div>
            </div>

        </article>
        <footer class="text-center my-12">
            <img class="w-6 inline-block mx-4" src="./img/fb.png" alt="">
            <img class="w-6 inline-block mx-4" src="./img/Linkedin.png" alt="">
            <img class="w-6 inline-block mx-4" src="./img/insta.png" alt="">
            <img class="w-6 inline-block mx-4" src="./img/Group.png" alt="">
            <div class="text-center my-5">Copyright ©2020 All rights reserved</div>
        
        

        </footer>
    </div>
</body>

</html>